<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Определяем шаблон логирования -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования по умолчанию -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Логирование для пакета вашего приложения -->
    <logger name="ru.gigastack.digitalmine" level="DEBUG"/>
</configuration>